.removeButton {
  color: red !important;
  font-weight: 200 !important;
  margin-right: 0.9rem !important;
}
.course {
  display: flex block;
  margin-bottom: 60px;
}

.course__title {
  display: flex;
  font-size: 24px;
  margin-bottom: 0;
  padding-left: 0.5rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  align-items: center;
  justify-content: space-between;
}

.course__title:hover {
  background-color: #F0F0F0;
  color: #5CB9ED;
}

.course__description {
  font-size: 16px;
  color: #4d4d4d;
}

.course__categories {
  margin-bottom: 0.2rem;
  font-size: 16px;
  font-size: 80%;
  font-weight: 400;
  color: rgb(175, 175, 175);
}

.course__plus-icon {
  background-image: url('../asset/images/icons8-plus_+.png');
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  float: right;
  padding-right: 35px;
}
.table-container {
  background-color: #ECF5FC;
  display: flex;
  width: 100%;
  margin-top: 2rem;
}

table {
  border-spacing: 0;
  width: 100%;
}

.table-header, th {
  border-bottom: 1px solid #888888;
  padding: 0.5rem;
  font-size: 12px;
  text-transform: uppercase;
  color: #888888;
}

td {
  margin: 10rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  font-size: 14px;
  font-weight: 300;
}

th {
  font-weight: normal;
}

.course-add-button {
  content: url('../asset/images/icons8-calendar_plus.png');
  padding-left: 1rem;
}
.explore-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  margin-left: 8rem;
  margin-right: 8rem;
}
.filter-header {
  top: 5rem;
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-top: 5rem;
  align-items: flex-start;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

.filter-header__combobox {
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}

.filter-header__title {
  width: 100%;
  font-size: 12px;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  color: #A3A3A3;
  border-bottom: 1px solid #888888;
}
.gallery-container {
  display: flex;
  height: 600px;
  width: 100%;
  background-image: url('../asset/images/lammers.jpeg');

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tab-context-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}

.tab-container {
  background-color: white;
  display: flex;
  top: 0rem;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.fab {
  border-radius: 50% !important;
  position: fixed;
  bottom: 40px;
  /* right: 40px; */
}

.fab-button {
  border-radius: 50% !important;
  background-color: rgb(91, 128, 248) !important;
}

.schedule-icon {
  content: url('../asset/images/icons8-schedule.png');
}

#mynavbar {
  max-width: 100%;
  padding: 0;
}

.wsu-logo {
  content: url('../asset/images/wsu-logo.png');
  width: 8rem;
  margin: 0.5rem;
}

.nav-links {
  width: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  color: black !important;
  text-decoration: none !important; /* no underline */
}
.classList {
  margin-left: 6rem;
  margin-top: 100px;
  max-width: 800px;
}