.table-container {
  background-color: #ECF5FC;
  display: flex;
  width: 100%;
  margin-top: 2rem;
}

table {
  border-spacing: 0;
  width: 100%;
}

.table-header, th {
  border-bottom: 1px solid #888888;
  padding: 0.5rem;
  font-size: 12px;
  text-transform: uppercase;
  color: #888888;
}

td {
  margin: 10rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  font-size: 14px;
  font-weight: 300;
}

th {
  font-weight: normal;
}

.course-add-button {
  content: url('../asset/images/icons8-calendar_plus.png');
  padding-left: 1rem;
}