.table-container {
  background-color: #ECF5FC;
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  margin-top: 2rem;
}

table {
  border-spacing: 0;
  width: 100%;
}

.table-header, th {
  border-bottom: 1px solid #888888;
  padding: 0.5rem;
  font-size: 12px;
  text-transform: uppercase;
  color: #888888;
}

td {
  margin: 10rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  font-size: 14px;
  font-weight: 300;
}

th {
  font-weight: normal;
}

.course-add-button {
  content: url('../asset/images/icons8-calendar_plus.png');
  padding-left: 1rem;
  padding-right: 1rem;
}

.small-table-container {
  visibility: hidden;
  background-color: #ECF5FC;
  height: 0;
}

hr {
  margin: 0px !important;
  margin-bottom: 0px;
}

.add-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

/* browser's width is 600px wide or less: */
@media screen and (max-width: 700px) {
  .table-container {
    font-size: 12px;
  }
}

/* browser's width is 500px wide or less: */
@media screen and (max-width: 500px) {
  .table-container {
    font-size: 15px;
  }

  .normal-section-table {
    visibility: collapse;
    display: none;
  }

  .add-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.5rem;
    height: 3rem;
    padding-right: 1rem;
    background: white;
    border-radius: 10%;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  .course__title {
    font-size: 20px;
    padding: 1rem;
  }

  .course__description {
    font-size: 15px;
  }

  .small-table-container {
    visibility: visible;
    height: auto;
  }

  .header-cell-small {
    color: #888888;
    margin-left: 1rem;
  }
}