.course {
  display: flex block;
  margin-bottom: 60px;
}

.course__title {
  display: flex;
  font-size: 24px;
  margin-bottom: 0;
  padding-left: 0.5rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  align-items: center;
  justify-content: space-between;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto; /* iOS 4.2+ */
  -moz-hyphens: auto; /* Firefox 5+ */
  -ms-hyphens: auto; /* IE 10+ */
  hyphens: auto;
  word-break: break-all;
}

.course__title:hover {
  background-color: #F0F0F0;
  color: #5CB9ED;
}

.course__description {
  font-size: 16px;
  color: #4d4d4d;
}

.course__categories {
  margin-bottom: 0.2rem;
  font-size: 16px;
  font-size: 80%;
  font-weight: 400;
  color: rgb(175, 175, 175);
}

.course__plus-icon {
  background-image: url('../asset/images/icons8-plus_+.png');
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  float: right;
  padding-right: 35px;
}

/* browser's width is 600px wide or less: */
@media screen and (max-width: 500px) {
  .course {
    margin-left: 1.3rem;
    margin-right: 1.3rem;
  }

  .course__title {
    font-size: 20px;
    padding: 1rem;
  }

  .course__description {
    font-size: 15px;
  }
}

/* browser's width is 600px wide or less: */
@media screen and (max-width: 374px) {
  .course__description {
    word-break: break-all;
  }
}