.explore-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.explore-container-big {
  display: flex;
  flex-direction: column;
}

h3 {
  width: 15rem;
  margin-left: 2.5rem;
}

.float_filter_viewer_button_group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 2.5rem;
  right: 40px;
}

.filter-group-container {
  position: sticky;
  top: 0rem;
}

/* browser's width is 600px wide or less: */
@media screen and (max-width: 920px) {
  h3 {
    width: fit-content;
    align-self: center;
    margin-top: 2rem !important;
    margin-bottom: 3rem !important;
    margin-left: 0;
  }

  .float_filter_viewer_button_group {
    bottom: 1rem;
    right: auto;
    width: 10rem;
  }

  .explore-container {
    justify-content: center;
  }

  .filter-group-container {
    width: 0;
    visibility: hidden;
  }
}