.filter-header {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-top: 4rem;
  align-items: flex-start;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.filter-header__combobox {
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}

.filter-header__title {
  width: 100%;
  font-size: 12px;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  color: #A3A3A3;
  border-bottom: 1px solid #888888;
}

/* browser's width is 700px wide or less: */
@media screen and (max-width: 700px) {
  .filter-header {
    width: auto;
    margin-top: 0rem;
    padding-top: 2rem;
  }

  .filter-header__combobox {
    width: 200px !important;
  }
}