.schedule-button {
  content: url('../asset/images/icons8-calendar.png');
  height: 1.0rem;
  width: 1.0rem;
}

.schedule-button {
  height: 4rem;
  background-color: #1976d2 !important;
  border: 0 !important;
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 1rem !important;
}

.css-10hburv-MuiTypography-root {
  font-weight: 100 !important;
}