.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tab-context-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}

.tab-container {
  background-color: white;
  display: flex;
  top: 0rem;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

/* browser's width is 600px wide or less: */
@media screen and (max-width: 920px) {
  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .css-13xfq8m-MuiTabPanel-root {
    padding: 0 !important;
  }
}

