.classList {
  margin-left: 3rem;
  margin-right: 3rem;
  /* margin-top: 100px; */
  max-width: 800px;
}

/* browser's width is 600px wide or less: */
@media screen and (max-width: 500px) {
  .classList {
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    margin-top: 2.5rem;
  }
}

/* browser's width is 600px wide or less: */
@media screen and (max-width: 400px) {
  .classList {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  }
}